@use "../variables.scss";

.resource-legend {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  align-items: center;
  margin-bottom: 6px;
  font-size: 0.65rem;
  color: #f1f1f1;

  .legend-title {
    font-weight: 700;
    margin-right: 2px;
  }

  .legend-chip {
    padding: 2px 6px;
    border-radius: 4px;
    color: #000;
    font-weight: 600;
  }

  .wood {
    background: variables.$wood;
  }
  .brick {
    background: variables.$brick;
  }
  .sheep {
    background: variables.$darker-sheep;
  }
  .wheat {
    background: variables.$wheat;
  }
  .ore {
    background: variables.$ore;
  }

  .dev {
    color: #fff;
    background: #5e2b97;
  }
  .victory {
    background: #795548;
  }
  .knight {
    background: #3f51b5;
  }
  .monopoly {
    background: #d32f2f;
  }
  .plenty {
    background: #388e3c;
  }
  .road {
    background: #ff9800;
  }
}

.resource-cards {
  height: 40px;
  display: flex;
  gap: 6px;

  margin-bottom: variables.$sm-gutter;

  .card {
    border-radius: 4px;
    opacity: 0.3;
    transition: opacity 0.2s ease;
    &.has-card {
      opacity: 1;
    }
    div {
      background: #151313;
      color: white;

      width: 21px;
      height: 36px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      font-weight: bold;
      position: relative;
    }
  }
  .wood-cards {
    background: variables.$wood;
  }
  .brick-cards {
    background: variables.$brick;
  }
  .wheat-cards {
    background: variables.$wheat;
  }
  .sheep-cards {
    background: variables.$darker-sheep;
  }
  .ore-cards {
    background: variables.$ore;
  }
  .dev-cards {
    background: purple;
    div {
      font-size: 0.7rem;
      .card-label {
        font-size: 0.55rem;
        margin-bottom: 2px;
      }
      .card-count {
        font-size: 0.9rem;
      }
    }
  }
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 40px;
}

.player-state-box {
  padding: variables.$sm-gutter;

  max-width: variables.$sm-breakpoint;
  margin: 0 auto;
  width: 100%;

  .scores {
    display: flex;
    justify-content: space-between;
  }

  .num-knights,
  .num-roads,
  .victory-points {
    flex-direction: column;
    width: 50px;
    height: 40px;
  }

  .bold {
    font-weight: bold;
  }
}
