@use "../variables.scss";

$dark-divider: rgb(0 0 0 / 80%);

.right-drawer {
  .drawer-content {
    padding: variables.$sm-gutter;

    display: flex;
    flex-direction: column;
    gap: variables.$sm-gutter;
    word-break: break-word;
    overflow-wrap: anywhere;

    .drawer-home-btn {
      font-weight: 700;
    }
  }

  .MuiDrawer-paper {
    width: min(340px, 90vw);
    background: variables.$dark-gray;
    color: white;
  }

  .MuiButton-root {
    white-space: normal;
    line-height: 1.3;
  }

  .MuiDivider-root {
    background: $dark-divider;
  }
}
