@use "../variables.scss";

$dark-divider: rgb(0 0 0 / 80%);

.right-drawer {
  .drawer-content {
    padding: variables.$sm-gutter;

    display: flex;
    flex-direction: column;
    gap: variables.$sm-gutter;
  }

  .MuiDrawer-paper {
    width: min(340px, 90vw);
    background: variables.$dark-gray;
    color: white;
  }

  .MuiDivider-root {
    background: $dark-divider;
  }
}
